{% extends 'base.html' %}
{% load static %}
{% block navbar %}
    <div class="row container-fluid bg-dark py-2 px-3 m-0">
        <a class="col text-white h-6" style="text-decoration: none;"><strong>Trading Inventory</strong></a>
        <div class="col container d-flex justify-content-center">
            <a class="col text-end text-white text-center" style="text-decoration: none;"><strong> Username : {{ username }}</strong> </a>
            <a class="col text-end text-white text-center" style="text-decoration: none;"><strong>{{ len_data }}</strong> Saved Data</a>
            <a class="col text-end text-white text-center" style="text-decoration: none;"><strong>{{ total_amount }}</strong> Total Amount</a>
        </div>
    </div>
{% endblock %}
{% block content %}
    <table class="table">
        <thead class="thead">
            <tr>
                <th scope="col"> ID </th>
                <th scope="col"> Name </th>
                <th scope="col"> Amount </th>
                <th scope="col"> Buy Price </th>
                <th scope="col"> Time Bought </th>
                <th scope="col"> Description </th>
                <th scope="col" class="text-center"> - Amount </th>
                <th scope="col" class="text-center"> + Amount </th>
                <th scope="col" class="text-center"> Delete </th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
                <tr>
                    <th scope="row">{{ row.pk }}</th>
                    <td>{{row.name}}</td>
                    <td>{{row.amount}}</td>
                    <td>{{row.buy_price}}</td>
                    <td>{{row.time_buy}}</td>
                    <td>{{row.description}}</td>
                    <td class="text-center"><a href="minus_amount/{{ row.pk }}"><img src="{% static 'minus.png' %}" width="20" height="20"></a></td>
                    <td class="text-center"><a href="add_amount/{{ row.pk }}"><img src="{% static 'plus.png' %}" width="20" height="20"></a></td>
                    <td class="text-center"><a href="delete/{{ row.pk }}"><img src="{% static 'trash-bin.png' %}" width="20" height="20"></a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href={{adddata_url}} class="p-3">
        <button class="button rounded bg-primary text-white" style="font-weight: 600; border-color: #000055;"> Add Data </button>
    </a>
    <a href={% url 'main:logout' %} class="p-3">
        <button class="button rounded bg-primary text-white" style="font-weight: 600; border-color: #000055;"> Log Out </button>
    </a>
    <div class="my-4 mx-2">
    <hr class="m-0">
    <pre>Last Logged In {{last_login}}</pre>

    
    {% if ref %}
        <h3 style="color: green;">{{ref}}</h3>
    {% endif %}
{% endblock content %}