{% extends 'base.html' %}
{% load widget_tweaks %}
{% block navbar %}
    <div class="container-fluid bg-dark py-2 px-3 m-0">
        <a class="text-white h-6" style="text-decoration: none;"><strong>Trading Inventory</strong></a>
    </div>
{% endblock navbar %}
{% block content %}
    <div class="container rounded p-3 m-5 bg-dark text-white", style="width: auto, display: block;">
        <h1 class="m-3">Sign Up</h1>
        <form method="post">
            {% csrf_token %}
            {% for hidden_field in form.hidden_fields %}
                {{ hidden_field }}
            {% endfor %}
    
            {% for field in form.visible_fields %}
                <div class="form-group px-3">
                    {{ field.errors }}
                    <label style="font-weight: 500;">{{field.label}}</label>
                    <div class="py-1"></div>
                    {% render_field field class="form-control" %}
                    <div class="py-2"></div>
                </div>
            {% endfor %}
            <input class="btn btn-primary rounded mx-3 my-3" style="font-weight: 700;" type="submit" name="submit" value="Daftar">
            <a href={% url 'main:login' %} class="btn btn-primary rounded label mx-5" style="font-weight: 700;"    >Sign In</a>
        </form>
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{message}}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock content %}